.navbar-collapse {
	font-size: 1.5em;
	text-align: center;
}
#nav-list {
	list-style: none;
	padding: 0;
	margin: 10px 0 10px;
}
#nav-list li {
	display: inline;
	padding: 10px;
}
#nav-list a {
	color: var(--font-color);
	text-align: center;
	text-decoration: none;
}
#nav-list a:focus {
	color:#D96F36;
}
#nav-list li:hover {
	background: var(--primary-color);
}	
