.switch {
    position: relative;
    display: inline-block;
    width: 80px;
}
.switch input { 
    opacity: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #72CCE3;
    background-color: #C2E9F6;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 6px;
    border: 1px solid #F5EB71;
    background-color: #FFFAA8;
    transition: .4s;
    box-sizing: border-box;
}
input:checked + .slider {
    border: 1px solid #5D6BAA;
    background-color: #808FC7;
}
input:focus + .slider {
    box-shadow: 0 0 1px #808FC7;
}
input:checked + .slider:before {
    background-color: white;
    border: 1px solid gray;
    transform: translateX(46px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}